

@model HtmlToPdfSample.Client.Models.DocumentTest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    
    <h3>My name is @Model.Name</h3>
</div>
</body>
</html>